Click==7.0
Jinja2==2.11.3
livereload==2.6.0
Markdown==3.0.1
MarkupSafe==1.1.0
mkdocs==1.0.4
mkdocs-cinder==0.16.1
mkdocs-material==3.3.0
Pygments==2.7.4
pymdown-extensions==6.0
PyYAML==5.4
six==1.12.0
tornado==6.3.2
